<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<!-- 프로젝트명 -->
	<display-name>JSPStudy1</display-name>

	<!-- 웹애플리케이션이 실행되었을때 제일 먼저 실행할 파일 지정 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<!-- 프로젝트명 > 우클릭 > Run on server로 실행하면 아래 파일이 제일 먼저 열리게 된다. -->
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>

	<!-- 컨텍스트 초기화 파라미터 : 웹애플리케이션 전체에서 접근해서 사용할 수 있는 일종의 상수값 혹은 설정값으로 사용한다. -->
	<context-param>
		<param-name>INIT_PARAM</param-name>
		<param-value>web.xml에 저장한 초기화 매개변수</param-value>
	</context-param>

	<!-- 오라클 데이터베이스에 연결을 위한 접속정보를 컨텍스트 파라미터로 정의 -->
	<context-param>
		<param-name>OracleDriver</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>OracleURL</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
		<param-name>OracleId</param-name>
		<param-value>musthave</param-value>
	</context-param>
	<context-param>
		<param-name>OraclePwd</param-name>
		<param-value>1234</param-value>
	</context-param>

	<!-- 세션 유지시간 설정(분단위) -->
	<session-config>
		<session-timeout>35</session-timeout>
	</session-config>


</web-app>